button {
    background: #4caf50;
    border: none;
    padding: 8px 18px;
    margin: 0 10px;
    width: 120px;
    color: #fff;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 700;
    cursor: pointer;
}
button.volume-button {
    width: 20px;
    padding: 5px;
}
button.volume-button:disabled {
    opacity: 0.5;
}
.actions div {
    padding: 15px 0px;
}
.actions {
    padding: 0px 40px;
}

canvas {
    height: 400px;
    width: 100%;
    border: 1px solid #ddd;
}
.frame {
    margin-bottom: 10px;
}
select {
    width: 110px;
    font-size: 14px;
    padding: 2px;
}
span {
    font-size: 15px;
    padding-right: 10px;
    font-weight: 700;
    margin-left: 20px;
}