<div class="frame">
    <canvas id="canvas"></canvas>
    <canvas id="canvas1"></canvas>
</div>
<div class="actions">
    <div class="select">
        <span>Mode: </span>
        <select (change)="modeSelected($event)">
             <option>Select</option>
             <option value="HEART">Heart</option>
             <option value="LUNG">Lung</option>
         </select>
    <!-- </div>
    <div class="select"> -->
        <span>Playback:</span>
        <select (change)="speedSelected($event)">
            <option>Select</option>
             <option *ngFor="let speed of playbackSpeedList" [value]="speed">{{speed}}</option>
         </select>
    <!-- </div>

    <div> -->
        <span>Volume: ({{volume}})</span>
        <button class="volume-button" (click)="volumeUp(false)" [disabled]="volume == 0">-</button>
        <input type="range" id="vol" name="vol" min="0" max="100" (change)="volumeSet($event)" [value]="volume">
        <button  class="volume-button" (click)="volumeUp(true)"  [disabled]="volume == 100">+</button>
    </div>
    <div>
        <button (click)="startAll()">Start</button>
        <button (click)="mute()">Mute</button>
        <button (click)="unMute()">UnMute</button>
        <button (click)="start1()">Start1</button>
        <button (click)="pause()">Pause</button>
        <button (click)="pause1()">Pause1</button>
        <button (click)="resume()">Resume</button>
        <button (click)="stop()">Stop</button>
        <button (click)="loadAudioFile()">Load audio</button>
        <button (click)="loadAudioFile1()">Load audio1</button>
        <button (click)="startMicRecording()">Microphone</button>
    </div>
</div>
<router-outlet></router-outlet>
